<!DOCTYPE html>
<html>

<head>
    <title>Covid Stores</title>
    <link rel="stylesheet" href="../css/add-product.css">
    <script src="https://kit.fontawesome.com/7bd4d37701.js" crossorigin="anonymous"></script>
</head>

<!----------------------this is to be used be used by the Managers to add stock------------------------------------->
<body row justify-content-center>

    <h1 style="font-family: cursive; color: rgb(14, 248, 14); text-align: center;"><i class="fas fa-gift"></i>>></i>Covid Stores</h1>

    <div class="container">
        <!-- Title -->
        <div class="row">
            <div class="col">
                <div class="card-body">
                    <header class="card-header">
                        <h4 class="card-title" id="head">Add Product Item</h4>
                    </header>
                </div>
            </div>
        </div>

        <div class="col-md-6">

            <form action="/manager/manager/addItem" method="POST" name="addItem" id="addItem" enctype="multipart/form-data">

                <fieldset class="form-group border p-2">
                    <legend class="w-auto border-primary">Product Info</legend>
                    <div class="form-group">

                        <div class="form-groupa">
                            <label class="form-control-label" for="item-name"><span>Item Name:</span> </label>
                            <div class="form">
                                <input type="text" placeholder="Product-name" name="itemName" required>
                            </div>

                        </div>
                        <!----------------------Country-in-which-the-product-is-made-------------------->
                        <div class="form-groupa">
                            <label class="form-control-label" for="make">Make: </label>

                            <div class="form">
                                <input type="text" placeholder="country" name="itemMake" required>
                            </div>


                        </div>
                        <!--------------------Entry-Date---------------------------------->

                        <div class="form-groupa">
                            <label class="form-control-label" for="entryDate">Date of Entry: </label>
                            <div class="form">
                                <input name="date" type="date">
                            </div>
                        </div>
                        <!-- -------------------Select-Item-Category----------------------------------->
                        <div class="form-groupa">
                            <label class="form-control-label" for="category">Category: </label>
                            <div class="form">
                                <select name="category" name="category">
                                    <option value="0">Select Category</option>
                                    <option value="3">Machinery</option>
                                    <option value="4">TV Sets</option>
                                    <option value="5">Home Theater</option>
                                    <option value="1">Furniture</option>
                                    <option value="2">Fitness Kits</option>
                                    <option value="2">Others</option>
                                </select>
                            </div>
                        </div>
                        <!--------------------------------Serial.NO.----------------------------->

                        <div class="form-groupa">
                            <label class="form-control-label" for="serial-number">Serial Number:
                            </label>
                            <div class="form">
                                <input type="text" placeholder="Serial-number" name="serialNumber" required>
                            </div>
                        </div>
                        <!-----------------------------------Price---------------------------------->
                        <div class="form-groupa">
                            <label class="form-control-label" for="price">Price:
                            </label>
                            <div class="form">
                                <input type="text" placeholder="000UGX" name="price" required>
                            </div>
                        </div>
                        <!-----------------------------Item-Colour----------------------------------->
                        <div class="form-groupa">
                            <label class="form-control-label" for="itemColor">Item Color: </label>
                            <div class="form">
                                <input type="text" name="itemColor" placeholder="eg.Blue" required>
                            </div>
                        </div>
                        <!---------------------------Product-Description--------------------------------->
                        <div class="form-groupa">
                            <label class="form-control-label" for="itemDescription">Item Description:
                            </label>
                            <div class="form">
                                <textarea name="itemDescription" cols="23" rows="5"
                                    placeholder="Item Description"></textarea>
                            </div>
                        </div>
                        <!----------------------------Stock-NO.------------------------------>

                        <div class="form-groupa">
                            <label class="form-control-label" for="numberInStock">Number in Stock:
                            </label>
                            <div class="form">
                                <input type="text" name="numberStock" id="numStock" placeholder="stock.NO." required>
                            </div>
                        </div>
                        <!--------------------------------------Add-Photo --------------------------->
                        <div class="form-groupa">
                            <label class="form-control-label" for="itemPhoto">Item Photo:
                            </label>
                            <div class="form2">
                                <input type="file" id="itemPhoto" name="itemPhoto">
                            </div>
                        </div>
                        <!--------------------------form-button--------------------- -->
                    </div>
                    <div class="form-groupa">
                        <div class="form2">
                            <button class="btn btn-warning btn-block" name="submit" type="submit"
                                onclick="return validateAddItem()">Submit</button>
                        </div>
                    </div>
                    <div class="form-groupa">
                        <div class="form2">
                            <button class="btn btn-warning btn-block" name="back">Back</button>
                        </div>
                    </div>                    

                </fieldset>
                <!---------**************************** fieldset-End************************************----->

            </form>

        </div>
    </div>

</body>

</html>