<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--My-Custom-CSS-->
    <link rel="stylesheet" href="../css/shopingcarts.css" />
    <!--Boostrap CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <!--FontAwesome-->
    <script src="https://kit.fontawesome.com/7bd4d37701.js" crossorigin="anonymous"></script>
    <!--Slick Slider-->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <title>Shopping cart</title>
</head>

<body>

        <!--NAV BAR START-->
        <div w3-include-html="../includes/nav.html"></div>
        <!--NAV BAR END-->
        <h3 class="cart-heading"><b> HOME THEATER</b></h3>

    <!-- Main -->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="/tv//hometheatre/51914b8cfa386a1d2b403b171b412781_1024x1024.jpg"
                        alt="Card image cap" />
                    <div class="card-block">
                        <h4 class="card-title">RTAP Machine</h4>
                        <p class="card-text">Price: 7000,000UGX</p>
                        <p><b>LTTP</b></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top"
                        src="/tv/hometheatre/sony-dav-dz770w-region-free-home-theatre-system.jpg"  alt="Card image cap" />
                    <div class="card-block">
                        <h4 class="card-title">Black-Cap Machine</h4>
                        <p class="card-text">Price: 600,000UGX</p>
                        <p><b>LTTP</b></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="/tv/hometheatre/images.jpg" alt="Card image cap" />
                    <div class="card-block">
                        <h4 class="card-title">Round Cap</h4>
                        <p class="card-text">Price: 40,000UGX</p>
                        <p><b>LTTP</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="/tv//hometheatre/51914b8cfa386a1d2b403b171b412781_1024x1024.jpg"
                        alt="Card image cap" />
                    <div class="card-block">
                        <h4 class="card-title">RTAP Machine</h4>
                        <p class="card-text">Price: 7000,000UGX</p>
                        <p><b>LTTP</b></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top"
                        src="/tv/hometheatre/sony-dav-dz770w-region-free-home-theatre-system.jpg"  alt="Card image cap" />
                    <div class="card-block">
                        <h4 class="card-title">Black-Cap Machine</h4>
                        <p class="card-text">Price: 600,000UGX</p>
                        <p><b>LTTP</b></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="/tv/hometheatre/images.jpg" alt="Card image cap" />
                    <div class="card-block">
                        <h4 class="card-title">Round Cap</h4>
                        <p class="card-text">Price: 40,000UGX</p>
                        <p><b>LTTP</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="/tv//hometheatre/51914b8cfa386a1d2b403b171b412781_1024x1024.jpg"
                        alt="Card image cap" />
                    <div class="card-block">
                        <h4 class="card-title">RTAP Machine</h4>
                        <p class="card-text">Price: 7000,000UGX</p>
                        <p><b>LTTP</b></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top"
                        src="/tv/hometheatre/sony-dav-dz770w-region-free-home-theatre-system.jpg"  alt="Card image cap" />
                    <div class="card-block">
                        <h4 class="card-title">Black-Cap Machine</h4>
                        <p class="card-text">Price: 600,000UGX</p>
                        <p><b>LTTP</b></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="/tv/hometheatre/images.jpg" alt="Card image cap" />
                    <div class="card-block">
                        <h4 class="card-title">Round Cap</h4>
                        <p class="card-text">Price: 40,000UGX</p>
                        <p><b>LTTP</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--FOOTER-->
    <footer>
        <div w3-include-html="../includes/footer.html"></div>
    </footer>
    <!---FOOTER END-->

    
    <script src="../includes/footer.js"></script>
    <script src="../includes/nav.html"></script>
    <script src="../js/shopingcarts.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</body>

</html>