<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid Store</title>

    <!--Boostrap CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!--FontAwesome-->
    <script src="https://kit.fontawesome.com/7bd4d37701.js" crossorigin="anonymous"></script>
    <!--Slick Slider-->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

    <!--Custom Stylesheet-->
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

    <!--Header-->
    <header>
        <div class="container"></div>
        <div class="row">
            <div class="col-md-4 col-sm-12 col-12 ">
                <div class="btn-group">
                    <button class="btn border dropdown-toggle my-md-4 my-2 text-white" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">UGX</button>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item">UGX - Ugandan Shillings</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 text-center ">
                <h2 class="my-md-3 site-title text-white"><i class="fas fa-gift"></i>>></i>Covid Stores</h2>
            </div>
            <div class="col-md-4 col-12 text-right">
                <p class="my-md-4 header-links">
                    <a href="#" class="px-2"><button class="btn border my-md-4 my-2 text-white" >Log In</button></a>
                    <a href="#" class="px-2"><button class="btn border my-md-4 my-2 text-white">Admin</button></a>
                </p>
            </div>
        </div>
        </div>
        <div class="container-fluid p-0">
            <!--Navbar-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">SHOP</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">HOME<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">FEATURES</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                COLLECTIONS
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>

                <div class="navbar-nav">
                    <li class="nav-item boder rounded-cicle mx-2 shopping icon"></li>
                </div>

            </nav>
        </div>

    </header>
    <!--/header-->
    <!--main section-->
    <main>
        <!--First Slider-->
        <h1 class="slider-one-h1">Welcome to Covid Stores where shopping comes to reality</h1>
        <div class="container-fluid  p-0">
            <div class="site-slider">
                <div class="slider-one">
                    <div class="ps4"><img src="/public/img/ps4.png" class="img-fluid" alt="Shopping"></div>
                    <div class="shopping1"><img src="/public/img/Shopping-PNG-Image.png" class="img-fluid" alt=""></div>
                    <div class="shopping2"><img src="/public/img/shoping.png" class="img-fluid" alt=""></div>
                    <div class="shopping3"><img src="/public/img/Shopping-Download-PNG.png" class="img-fluid " alt=""></div>
                    <div class="shopping4"><img src="/public/img/popcon-movie.jpeg" class="img-fluid" alt=""></div>
                </div>
                <div class="slider-btn">
                    <span class="prev position-top"><i class="fas fa-chevron-left"></i></span>
                </div>
            </div>

        <!--/First Slide-->
        <!--Second Slider-->
        <div class="container-fluid">
            <div class="site-slider-two px-md-4 ">
                <div class="row slider-two text-center">
                    <div class="col-md-2 product pt-md-5 pt-4">
                        <img src="/public/img/chair.jpg" alt="product 1">
                        <span class="border site-btn btn-span">HOUSE-HOLD</span>
                    </div>
                    <div class="col-md-2 product pt-md-5 pt-4">
                        <img src="/public/img/chair.jpg" alt="product 1">
                        <span class="border site-btn btn-span">WOMEN</span>
                    </div>
                    <div class="col-md-2 product pt-md-5 pt-4">
                        <img src="/public/img/chair.jpg" alt="product 1">
                        <span class="border site-btn btn-span">MEN </span>
                    </div>
                    <div class="col-md-2 product pt-md-5 pt-4">
                        <img src="/public/img/chair.jpg" alt="product 1">
                        <span class="border site-btn btn-span">VEGETABLES</span>
                    </div>
                    <div class="col-md-2 product pt-md-5 pt-4">
                        <img src="/public/img/chair.jpg" alt="product 1">
                        <span class="border site-btn btn-span">BABIES </span>
                    </div>
                    <div class="col-md-2 product pt-md-5 pt-4">
                        <img src="/public/img/chair.jpg" alt="product 1">
                        <span class="border site-btn btn-span">OTHER COLLECTIONS</span>
                    </div>
                </div>
            </div>

        </div>

        <hr>

        <!------------------------------------item cards------------------------------------------------------->
    <!--Available products-->
        
    <div w3-include-html="./includes/available-products.html"></div>

    <!--Available products END-->




    </main>
    <!--Main section-->
    <footer>
        <div w3-include-html="./includes/footer.html"></div>
    </footer>

    <script src="./includes/footer.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>