meta(charset='UTF-8')
meta(name='viewport', content='width=device-width,initial-scale=1')
title uploads
div
  form(action='/upload', method='post', enctype='multipart/form-data')
    input(type='file', name, multiple)
    button(type='submit') Upload
