<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid Stores</title>
</head>
<body>
    <!------------------------------------NAV BAR START-------------------------->
    <div w3-include-html="/includes/nav.html"></div>
    <!------------------------------==/NAV BAR END------------------------------->
    <div class="container">
        <div class="row">
            <div class="col-md">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Name</th>
                        <th scope="col">Make</th>
                        <th scope="col">Serial</th>
                        <th scope="col">price</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Photo</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>






    
    <!--FOOTER-->
    <footer>
        <div w3-include-html="../includes/footer.html"></div>
    </footer>
    <!--Footer End-->


    <script src="../includes/nav.js"></script>
    <script src="./includes/footer.js"></script>

</body>
</html>