<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>manager dash board</title>
</head>

<body>

    <!------------------------------------NAV BAR START-------------------------->
    <div w3-include-html="/includes/nav.html"></div>
    <!------------------------------==/NAV BAR END------------------------------->
    <div class="container">
        <div class="row">
            <div class="col-md-2">

                <button type="button" class="btn btn-outline-success btn-block"><a class="" href="/manager/addItem">Add
                        Item</a></button>
                <button type="button" class="btn btn-outline-success btn-block"><a class=""
                        href="/manager/itemLists">Item Lists</a></button>
                <button type="button" class="btn btn-outline-success btn-block"><a class=""
                    href="/manager/managerList">manager List</a></button>
                <button type="button" class="btn btn-outline-success btn-block"><a class="" href="/agent/salesAgentList">Agents List</a></button>
                <button type="button" class="btn btn-outline-success btn-block"><a class=""
                        href="/manager/managerReg">Register Manager</a></button>
                <button type="button" class="btn btn-outline-success btn-block"><a class=""
                        href="/agent/agentReg">Register Agent</a></button>
                <button type="button" class="btn btn-outline-success btn-block"><a class=""
                    href="/agent/itemLists">Customer List</a></button> 
                       

            </div>
        </div>
    </div>



    <!--FOOTER-->
    <footer>
        <div w3-include-html="../includes/footer.html"></div>
    </footer>
    <!--Footer End-->


    <script src="../includes/nav.js"></script>

    <script src="../includes/footer.js"></script>

</body>

</html>