
link(rel='stylesheet', href='/css/registration-form.css')
// ---- Include the above in your HEAD tag --------
//  Fonts 
link(rel='dns-prefetch', href='https://fonts.gstatic.com')
link(href='https://fonts.googleapis.com/css?family=Raleway:300,400,600', rel='../css/registration-form.css', type='text/css')
//  Bootstrap CSS 
link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
//custom validation js
script(src='/js/validate.js')
title Register Manager
main.my-form
  h2 Manager Registration
  #error_message
  .cotainer
    .row.justify-content-center
      .col-md-8
        .card
          .card-header REGISTER NEW MANAGER
          .card-body
            form#regFom(name='registration-form' onsubmit='return regValidation()', action='/manager/managerReg', method='POST')
              .form-group.row
                label.col-md-4.col-form-label.text-md-right(for='full_name') Full Name
                .col-md-6
                  input#fullname.form-control(type='text', name='fullname',  required)
              .form-group.row
                label.col-md-4.col-form-label.text-md-right(for='email_address') E-Mail Address
                .col-md-6
                  input#emailaddress.form-control(type='email', name='emailaddress', )
              .form-group.row
                label.col-md-4.col-form-label.text-md-right(for='user_name') User Name
                .col-md-6
                  input#username.form-control(type='text', name='username', required)
              .form-group.row
                label.col-md-4.col-form-label.text-md-right(for='password') Choose Password
                .col-md-6
                  input#password.form-control(type='password', placeholder='Password', name='password', required)                  
              .form-group.row
                label.col-md-4.col-form-label.text-md-right(for='password') Re Enter Password
                .col-md-6
                  input#repassword.form-control(type='password', placeholder='Re Password', name='repassword',  required)
              .form-group.row
                label.col-md-4.col-form-label.text-md-right(for='EMPnumber')
                  abbr(title='EMPLOYEE Id Card') Employee ID
                  |  Number
                .col-md-6
                  input#NINnumber.form-control(type='text', name='EMPnumber', required)
              .form-group.row
                label.col-md-4.col-form-label.text-md-right(for='NINnumber')
                  abbr(title='National Id Card') NID
                  |  Number
                .col-md-6
                  input#EMPnumber.form-control(type='text', name='NINnumber')
              .col-md-6.offset-md-4
                button.btn.btn-primary(type='submit').
                  
                  Register
                  
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
