
link(rel='stylesheet', href='/css/registration-form.css')
// ---- Include the above in your HEAD tag --------
//  Fonts 
link(rel='dns-prefetch', href='https://fonts.gstatic.com')
link(href='https://fonts.googleapis.com/css?family=Raleway:300,400,600', rel='../css/registration-form.css', type='text/css')
//  Bootstrap CSS 
link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
//custom validation js

title Register Manager
main.my-form
  h2 Manager Registration
  .cotainer
    .row.justify-content-center
      .col-md-8
        .card
          .card-header REGISTER NEW MANAGER
          .card-body
            form#regFom(name='registration',  action='/manager/managerReg', onsubmit='return regValidation()' method='POST')
              .form-group.row
                //- #error_message
                label.col-md-4.col-form-label.text-md-right(for='full_name') Full Name
                .col-md-6
                  input#fullname.form-control(type='text', name='fullname')
                  small#nameerr

              .form-group.row
                label.col-md-4.col-form-label.text-md-right(for='email_address') E-Mail Address
                .col-md-6
                  input#emailaddress.form-control(type='email', name='emailaddress')
                  small#emailerr

              .form-group.row
                label.col-md-4.col-form-label.text-md-right(for='user_name') User Name
                .col-md-6
                  input#username.form-control(type='text', name='username')
                  small#usernameerr

              .form-group.row
                label.col-md-4.col-form-label.text-md-right(for='password') Choose Password
                .col-md-6
                  input#password.form-control(type='password', placeholder='Password', name='password')
                  small#passworderr

              .form-group.row
                label.col-md-4.col-form-label.text-md-right(for='password') Re Enter Password
                .col-md-6
                  input#repassword.form-control(type='password', placeholder='Re Password', name='repassword',)
                  small#repassworderr

              .form-group.row
                label.col-md-4.col-form-label.text-md-right(for='EMPnumber')
                  abbr(title='EMPLOYEE Id Card') Employee ID
                  |  Number
                .col-md-6
                  input#EMPnumber.form-control(type='text', name='EMPnumber')
                  small#EMPnumbererr

              .form-group.row
                label.col-md-4.col-form-label.text-md-right(for='NINnumber')
                  abbr(title='National Id Card') NIN
                  |  Number
                .col-md-6
                  input#NINnumber.form-control(type='text', name='NINnumber')
                  small#NINnumbererr
                  
              .col-md-6.offset-md-4
                button.btn.btn-primary(type='submit').
                  
                  Register
                br
                br
              .col-md-6.offset-md-4
                button.btn.btn-primary(type='submit' action='/').

                  Back to DashBoard              

                  
script(src='/js/validate.js')
