<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Boostrap CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <!--FontAwesome-->
    <script src="https://kit.fontawesome.com/7bd4d37701.js" crossorigin="anonymous"></script>
    <!-- custom-CSS -->
    <link rel="stylesheet" href="../css/aboutUs.css">
    <link rel="stylesheet" href="../css/nav.css">
    <title>About Covid Store</title>
</head>

<body>
    <!--NAV BAR START-->
    <div w3-include-html="/includes/nav.html"></div>

    <section class="text-center about">
        <h4 class="about1">About US</h4>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
                    <span class="fa fa-group"></span>
                    <h5>Our Policy</h5>
                    <p class="lead">
                        <tr>
                            <th scope="col">You can pay 50% on the LTTP Products</th>
                            <th scope="col">All listed items are available at the physical premises of covid Stores</th>
                            <th scope="col">Customers who need products on credit can utilise the LTTP plan</th>
                            <th scope="col">Send a message to our offices in case of any querry</th>
                            <th scope="col">the prices are negotiable</th>
                            <th scope="col">mMake a purchase today and you wont provide your deatials again </th>
                            <th scope="col">your detials safety is our priority</th>
                          </tr>
                    </p>
                </div>
                <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
                    <span class="fa fa-info"></span>
                    <h5>Our Products </h5>
                    <p class="lead">All listed products can be found at the physical Covid stores, Who is this product for? The target audience can be a gender (women or men), an age group (college kids, retirees), a lifestyle demographic (new mothers, car enthusiasts) or some other defined group of people.
                        Ipsum </p>
                </div>
                <div class="clearfix visible-md-block visible-sm-block"></div>
                <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
                    <span class="fa fa-file"></span>
                    <h5>Core Value</h5>
                    <p class="lead">Customer Service is our strong suit. Don’t believe us? Just ask Newsweek. The comfort gurus at our customer care center earned top ranking and were named on the magazine’s list of top online retailers for customer service. When it comes to comfort, we’re the experts, so let us help you. Our knowledgeable comfort pros can help you via email, chat, or phone.</p>
                </div>

            </div>

        </div>
    </section>

    <!--FOOTER-->
    <footer>
        <div w3-include-html="/includes/footer.html"></div>
    </footer>
    <!---FOOTER END-->


    <script src="/includes/footer.js"></script>
    <script src="/includes/nav.html"></script>
    

</body>

</html>