<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/addpurchase.css">
    <title>Document</title>
</head>

<body>

    <h1 style="font-family: cursive; color: rgb(14, 248, 14); text-align: center;"><i class="fas fa-gift"></i>>></i>Covid Stores</h1>
    
    <!-- table heading -->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card-body">
                    <header class="card-header">
                        <h1 class="card-title" id="head">PURCHASE DETAILS</h1>
                    </header>
                </div>
            </div>
        </div>
        <!-- main form div -->
        <div class="row">
            <div class="col-md-6">
                <!-- form start -->
                <form name="salesAgent" action="/agent/purchase" method="POST" id="salesAgent">

                    <!------------ fieldset start------------------- -->
                    <fieldset class="form-group border p-2">
                        <legend class="w-auto border-primary">Customer Purchase Details</legend>
                        <div class="form-group">
                            <div class="form-groupb">
                                <label class="form-control-label"  for="customerName">Customer Name</label>
                                <div class="form2">
                                    <input type="text" name="customerName" id="customerName">
                                    <small class="nameerr" id="nameerr"></small>
                                </div>
                            </div>

                            <!--------------------------form-group---------------------------------->
                            <div class="form-groupb">
                                <label class="form-control-label" for="location">Location</label>
                                <div class="form2">
                                    <input type="text" name="location" id="location">
                                </div>
                            </div>

                            <!-------------------------Phone-no--------------------------------->
                            <div class="form-groupb">
                                <label class="form-control-label" for="phone-no.">Phone No.</label>
                                <div class="form2">
                                    <input type="text" name="tel" id="tel">
                                </div>
                            </div>

                            <!--------------------------------email-adresss-----------------------------> 
                            <div class="form-groupb">
                                <label class="form-control-label" for="emailAdress">Email Adress</label>
                                <div class="form2">
                                    <input type="text" name="emailAdress" id="emailAdress">
                                </div>
                            </div>

                            <!-------------------------------National-ID-NO----------------------------------------> 
                                                                                 
                            <div class="form-groupb">
                                <label class="form-control-label" for="NINno"> National ID No.</label>
                                <div class="form2">
                                    <input type="text" name="NINno" id="NINno">
                                </div>

                            </div>
                            <!------------------------------Item-Namr----------------------------------------->
                            <div class="form-groupb">
                                <label class="form-control-label" for="itemName">Item Name</label>
                                <div class="form2">
                                    <input type="text" name="itemName" id="itemName">
                                </div>
                            </div>

                            <!-------------------------------PRODUCT-Serial-Number-------------------------------> 
                            <div class="form-groupb">
                                <label class="form-control-label" for="serialNo">Serial Number</label>
                                <div class="form2">
                                    <input type="text" name="serialNo" id="serialNo">
                                </div>
                            </div>

                            <!----------------------------------INITIAL-Pay------------------------------------------->                                                                                     

                            <div class="form-groupb">
                                <label class="form-control-label" for="Initialpay">Initial Pay (.00ugx)</label>
                                <div class="form2">
                                    <input type="text" name="initialpay" id="initialpay">
                                </div>

                            </div>
                            <!------------------------------------Next-payment-Date---------------------------------------->
                            <div class="form-groupb">
                                <label class="form-control-label" for="nextPay">Next Date Of Payment</label>
                                <div class="form2">
                                    <input type="text" name="nextPay" id="nextPay">
                                </div>
                            </div>

                            <!------------------------------------Next-Payment--------------------------------------->    
                            <div class="form-groupb">
                                <label class="form-control-label" for="nextAmount">Next Amount to be Paid</label>
                                <div class="form2">
                                    <input type="text" name="nextAmount" id="nextAmount">
                                </div>
                            </div>

                            <!---------------------------Ref-NO.------------------------------>
                            <div class="form-groupb">
                                <label class="form-control-label" for="refNo">Referee number</label>
                                <div class="form2">
                                    <input type="text" name="refNo" id="refNo"><br>
                                </div>
                            </div>

                            <!----------------------------Submit-Button------------------------------>                 

                            <div class="form-groupb">
                                <div class="form3">
                                    <input class="btn btn-warning btn-block" type="Submit">
                                </div>
                            </div>
                        
                            <!-----------------------------------Back----------------------------->
                            <div class="form-groupb">
                                <div class="form3">
                                    <button>Back to DashBoard</button>
                                </div>
                            </div>

                        </div>

                    </fieldset>

                </form>
                <!--------------------------Form-End----------------------->
            </div>

        </div>
    </div>
    </div>

</body>


</html>