<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sales agent dash board</title>
</head>

<body>

    <!------------------------------------NAV BAR START-------------------------->
    <div w3-include-html="/includes/nav.html"></div>
    <!------------------------------==/NAV BAR END------------------------------->
    <div class="container">
        <div class="row">
            <div class="col-md-2">

                <button type="button" class="btn btn-outline-success btn-block"><a class=""
                        href="/agent/agentReg">Register</a></button>
                <button type="button" class="btn btn-outline-success btn-block"><a class=""
                        href="/agent/purchase">Add Purchase</a></button>
                <button type="button" class="btn btn-outline-success btn-block"><a class=""
                        href="/agent/salesAgentList">Our Purchases</a></button>
                <button type="button" class="btn btn-outline-success btn-block"><a class=""
                        href="/agent/itemLists">Item Stock</a></button>

            </div>
        </div>
    </div>



    <!--FOOTER-->
    <footer>
        <div w3-include-html="../includes/footer.html"></div>
    </footer>
    <!--Footer End-->


    <script src="../includes/nav.js"></script>

    <script src="../includes/footer.js"></script>

</body>

</html>