<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--My-Custom-CSS-->
    <link rel="stylesheet" href="../css/shopingcarts.css" />
    <!--Boostrap CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <!--FontAwesome-->
    <script src="https://kit.fontawesome.com/7bd4d37701.js" crossorigin="anonymous"></script>
    <!--Slick Slider-->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <title>KIDS Collection</title>
</head>

<body>
    <!--NAV BAR START-->
    <div w3-include-html="../includes/nav.html"></div>
    <!--NAV BAR END-->

    <h3 class="cart-heading"><b>TVsets</b></h3>

    <!-- Main -->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="/img/imgs/Babies/Baby-girl-dress.jpg"
                        alt="Card image cap" />
                    <div class="card-block">
                        <h4 class="card-title">Baby-girl-dress</h4>
                        <p class="card-text">Price: 20,000UGS</p>
                        <a href="#" data-name="Orange" data-price="0.5" class="add-to-cart btn btn-primary">Add to
                            cart</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top"
                        src="/img/imgs/Babies/Bubble-Wrap.png"
                        alt="Card image cap" />
                    <div class="card-block">
                        <h4 class="card-title">Bubble-Wrap</h4>
                        <p class="card-text">Price: 122,000UGX</p>
                        <a href="#" data-name="Banana" data-price="1.22" class="add-to-cart btn btn-primary">Add to
                            cart</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="/img/imgs/Babies/clichy boy.jpg"
                        alt="Card image cap" />
                    <div class="card-block">
                        <h4 class="card-title">clichy boy</h4>
                        <p class="card-text">Price:5,500,000UGX</p>
                        <a href="#" data-name="Lemon" data-price="5" class="add-to-cart btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="/img/imgs/Babies/KIDS.png"
                        alt="Card image cap" />
                    <div class="card-block">
                        <h4 class="card-title">Play House</h4>
                        <p class="card-text">Price: 5,000,000</p>
                        <a href="#" data-name="Orange" data-price="0.5" class="add-to-cart btn btn-primary">Add to
                            cart</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top"
                        src="/img/imgs/Babies/Touch-Pad.png"
                        alt="Card image cap" />
                    <div class="card-block">
                        <h4 class="card-title">Touch-Pad</h4>
                        <p class="card-text">Price: 323,900,000UGX</p>
                        <a href="#" data-name="Banana" data-price="1.22" class="add-to-cart btn btn-primary">Add to
                            cart</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="/img/imgs/Babies/PlayStation-5.png"
                        alt="Card image cap" />
                    <div class="card-block">
                        <h4 class="card-title">PlayStation-5</h4>
                        <p class="card-text">Price:4,000,000</p>
                        <a href="#" data-name="Lemon" data-price="5" class="add-to-cart btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="/img/imgs/Babies/PS5-Controller-Clipart.png"
                        alt="Card image cap" />
                    <div class="card-block">
                        <h4 class="card-title">PS5-Controller</h4>
                        <p class="card-text">Price: 400,000UGX</p>
                        <a href="#" data-name="Orange" data-price="0.5" class="add-to-cart btn btn-primary">Add to
                            cart</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top"
                        src="/img/imgs/Babies/PS5-PNG.png"
                        alt="Card image cap" />
                    <div class="card-block">
                        <h4 class="card-title">PS5</h4>
                        <p class="card-text">Price: 10,000,000UGX</p>
                        <a href="#" data-name="Banana" data-price="1.22" class="add-to-cart btn btn-primary">Add to
                            cart</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="/img/imgs/Babies/rolling-chair.png"
                        alt="Card image cap" />
                    <div class="card-block">
                        <h4 class="card-title">rolling-chair</h4>
                        <p class="card-text">Price: 600,000UGX</p>
                        <a href="#" data-name="Lemon" data-price="5" class="add-to-cart btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="/img/imgs/Babies/baby-dining.jpg"
                        alt="Card image cap" />
                    <div class="card-block">
                        <h4 class="card-title">baby-dining</h4>
                        <p class="card-text">Price: 60,000,000UGX</p>
                        <a href="#" data-name="Orange" data-price="0.5" class="add-to-cart btn btn-primary">Add to
                            cart</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top"
                        src="/img/imgs/Babies/colours-world.png"
                        alt="Card image cap" />
                    <div class="card-block">
                        <h4 class="card-title">colours-world</h4>
                        <p class="card-text">Price: 60,000UGX</p>
                        <a href="#" data-name="Banana" data-price="1.22" class="add-to-cart btn btn-primary">Add to
                            cart</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="/img/imgs/Babies/NicePng_baby-toys.png"
                        alt="Card image cap" />
                    <div class="card-block">
                        <h4 class="card-title">baby-toys</h4>
                        <p class="card-text">Price: 700,000UGX</p>
                        <a href="#" data-name="Lemon" data-price="5" class="add-to-cart btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cart</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="show-cart table"></table>
                    <div>Total price: $<span class="total-cart"></span></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary">Order now</button>
                </div>
            </div>
        </div>
    </div>



    <!--FOOTER-->
    <footer>
        <div w3-include-html="../includes/footer.html"></div>
    </footer>
    <!---FOOTER END-->

    
    <script src="../includes/footer.js"></script>
    <script src="../includes/nav.html"></script>
    <script src="../js/shopingcarts.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</body>

</html>