<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>image</title>
</head>
<body>
    
    <form action="/uploadFile" enctype="multipart/form-data" method="POST">
        <input type="file" name="myFile" id="">
        <input type="submit" value="Upload your files">        
    </form>

    <form action="/uploadmultiple" enctype="multipart/form-data" method="POST">
        <input type="file" name="myFiles" id="" multiple>
        <input type="submit" value="Upload your files">
    </form>

    <form action="/uploadphoto" enctype="multipart/form-data" method="POST">
        <input type="file" name="myImage" id="" accept="image/''">
        <input type="submit" value="Upload Photo">
    </form>


</body>
</html>