meta(charset='UTF-8')
meta(name='viewport', content='width=device-width,initial-scale=1')
link(rel='stylesheet', href='../css/shopingcarts.css')
// Boostrap CDN
link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css', integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk', crossorigin='anonymous')
// FontAwesome
script(src='https://kit.fontawesome.com/7bd4d37701.js', crossorigin='anonymous')
// Slick Slider
link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css')
title Shopping cart
//  Main 
.container
  .row
    .col
      .card(style='width: 20rem;')
        img.card-img-top(src='http://www.azspagirls.com/files/2010/09/orange.jpg', alt='Card image cap')
        .card-block
          h4.card-title Orange
          p.card-text Price: 50,000 SHS
          a.add-to-cart.btn.btn-primary(href='#', data-name='Orange', data-price='0.5') Add to cart
    .col
      .card(style='width: 20rem;')
        img.card-img-top(src='http://images.all-free-download.com/images/graphicthumb/vector_illustration_of_ripe_bananas_567893.jpg', alt='Card image cap')
        .card-block
          h4.card-title Banana
          p.card-text Price: 60000 SHS
          a.add-to-cart.btn.btn-primary(href='#', data-name='Banana', data-price='1.22') Add to cart
    .col
      .card(style='width: 20rem;')
        img.card-img-top(src='https://3.imimg.com/data3/IC/JO/MY-9839190/organic-lemon-250x250.jpg', alt='Card image cap')
        .card-block
          h4.card-title Lemon
          p.card-text Price: 4000 SHS
          a.add-to-cart.btn.btn-primary(href='#', data-name='Lemon', data-price='5') Add to cart
.container
  .row
    .col
      .card(style='width: 20rem;')
        img.card-img-top(src='http://www.azspagirls.com/files/2010/09/orange.jpg', alt='Card image cap')
        .card-block
          h4.card-title Orange
          p.card-text Price: 4000 SHS
          a.add-to-cart.btn.btn-primary(href='#', data-name='Orange', data-price='0.5') Add to cart
    .col
      .card(style='width: 20rem;')
        img.card-img-top(src='http://images.all-free-download.com/images/graphicthumb/vector_illustration_of_ripe_bananas_567893.jpg', alt='Card image cap')
        .card-block
          h4.card-title Banana
          p.card-text Price: 6000 SHS
          a.add-to-cart.btn.btn-primary(href='#', data-name='Banana', data-price='1.22') Add to cart
    .col
      .card(style='width: 20rem;')
        img.card-img-top(src='https://3.imimg.com/data3/IC/JO/MY-9839190/organic-lemon-250x250.jpg', alt='Card image cap')
        .card-block
          h4.card-title Lemon
          p.card-text Price: 677000 SHS
          a.add-to-cart.btn.btn-primary(href='#', data-name='Lemon', data-price='5') Add to cart
.container
  .row
    .col
      .card(style='width: 20rem;')
        img.card-img-top(src='http://www.azspagirls.com/files/2010/09/orange.jpg', alt='Card image cap')
        .card-block
          h4.card-title Orange
          p.card-text Price: 50,000 SHS
          a.add-to-cart.btn.btn-primary(href='#', data-name='Orange', data-price='0.5') Add to cart
    .col
      .card(style='width: 20rem;')
        img.card-img-top(src='http://images.all-free-download.com/images/graphicthumb/vector_illustration_of_ripe_bananas_567893.jpg', alt='Card image cap')
        .card-block
          h4.card-title Banana
          p.card-text Price: 50,000 SHS
          a.add-to-cart.btn.btn-primary(href='#', data-name='Banana', data-price='1.22') Add to cart
    .col
      .card(style='width: 20rem;')
        img.card-img-top(src='https://3.imimg.com/data3/IC/JO/MY-9839190/organic-lemon-250x250.jpg', alt='Card image cap')
        .card-block
          h4.card-title Lemon
          p.card-text Price: 50,000 SHS
          a.add-to-cart.btn.btn-primary(href='#', data-name='Lemon', data-price='5') Add to cart
.container
  .row
    .col
      .card(style='width: 20rem;')
        img.card-img-top(src='http://www.azspagirls.com/files/2010/09/orange.jpg', alt='Card image cap')
        .card-block
          h4.card-title Orange
          p.card-text Price: 50,000 SHS
          a.add-to-cart.btn.btn-primary(href='#', data-name='Orange', data-price='0.5') Add to cart
    .col
      .card(style='width: 20rem;')
        img.card-img-top(src='http://images.all-free-download.com/images/graphicthumb/vector_illustration_of_ripe_bananas_567893.jpg', alt='Card image cap')
        .card-block
          h4.card-title Banana
          p.card-text Price: 50,000 SHS
          a.add-to-cart.btn.btn-primary(href='#', data-name='Banana', data-price='1.22') Add to cart
    .col
      .card(style='width: 20rem;')
        img.card-img-top(src='https://3.imimg.com/data3/IC/JO/MY-9839190/organic-lemon-250x250.jpg', alt='Card image cap')
        .card-block
          h4.card-title Lemon
          p.card-text Price: 50,000 SHS
          a.add-to-cart.btn.btn-primary(href='#', data-name='Lemon', data-price='5') Add to cart
//  Modal 
.modal.fade#cart(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
  .modal-dialog.modal-lg(role='document')
    .modal-content
      .modal-header
        h5.modal-title#exampleModalLabel Cart
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        table.show-cart.table
        div
          | Total price: SHS
          span.total-cart
      .modal-footer
        button.btn.btn-secondary(type='button', data-dismiss='modal').
          
          Close
          
        button.btn.btn-primary(type='button') Order now
script(src='../js/shopingcarts.js')
script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js', integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj', crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js', integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo', crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js', integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI', crossorigin='anonymous')
script(type='text/javascript', src='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')