@import url("https://fonts.googleapis.com/css2?family=Anton&family=Calistoga&family=Gugi&family=Lato:wght@100&family=Roboto:wght@100;900&family=Sofia&display=swap");

* {
    margin: 0px;
}

body {
    background-color: #1b3442;
    font-family: sans-serif;
}

#head {
    text-align: center;
    color: rgb(128, 223, 226);
    font-size: 2.8rem;
    font-family: 'Courier New', Courier, monospace;
}

label {
    font-weight: bold;
    width: 40%;
    float: left;
}

legend {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(109, 198, 240);
    font-size: 1.5rem;
}

.form-groupa{
    color: rgb(23, 219, 72);
    margin: 0.5em;
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
}

.form input{
    width: 20%;
    border: 1px solid #aaa;
    border-radius: 5rem;
    padding: 6px;
    outline: none;
}

::placeholder{
    color: rgb(169, 173, 173);
}

.form textarea{
    width: 20%;
    border: 1px solid #aaa;
    border-radius: 0.5rem;
    padding: 6px;
    outline: none;
}

.form select{
    width: 20%;
    border: 1px solid #aaa;
    border-radius: 0.5rem; 
    padding: 6px;
    outline: none;
}

.form2 button{
    width: 20%;
    border: 1px solid #aaa;
    border-radius: 5rem;
    padding: 6px;
    outline: none;
    background-color: rgb(123, 238, 238);
}

.form2 input{
    width: 20%;
    border: 1px solid #aaa;
    border-radius: 5rem;
    padding: 6px;
    outline: none;
}
